@import "mixins";
@import "variables";

.header {
  height: $headerHeight;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 19px 0 26px;
  }

  &__link {
    width: 30px;
    height: 30px;
  }
}

.nav {
  &__list {
    display: flex;
    align-items: center;
  }

  &__item:not(:last-child) {
    padding-right: 39px;
  }

  &__item:last-child {
    display: flex;
  }

  &__link {
    display: flex;
    line-height: $headerHeight;
    transition: color 0.5s;

    &:hover {
      color: #00acdc;
    }
  }
}
