.main__container {
  max-width: 900px;
  padding: 39px 30px 75px;
  margin: 0 auto; }

.apartment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .apartment__container {
    width: 100%; }
  .apartment__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media (max-width: 1023px) {
      .apartment__info {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        text-align: center; } }
  @media (max-width: 1023px) {
    .apartment__order {
      margin-top: 30px; } }
  .apartment__details {
    max-width: 491px; }
  .apartment__amenities {
    margin: 40px 0 66px; }
    @media (max-width: 1023px) {
      .apartment__amenities {
        text-align: center; } }
  .apartment__reviews {
    margin-bottom: 66px; }
    @media (max-width: 1023px) {
      .apartment__reviews {
        max-width: 493px;
        margin: 0 auto 66px; } }
  @media (max-width: 1023px) {
    .apartment__owner {
      max-width: 493px;
      margin: 0 auto; } }

.details__header {
  font-size: 36px;
  line-height: 42px; }
  @media (max-width: 574px) {
    .details__header {
      font-size: 30px;
      line-height: 36px; } }

.details__entire {
  margin: 10px 0 15px;
  color: #687c94; }

.details__conditions span {
  margin-right: 18px; }

.details__info {
  margin: 28px 0;
  line-height: 24px; }

.details__link {
  color: #3d4e61;
  font-weight: 600;
  -webkit-transition: color 0.5s;
  transition: color 0.5s; }
  .details__link:hover {
    color: #00acdc; }

.amenities__header {
  font-size: 20px; }

.amenities__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 390px;
  margin-top: 21px; }
  @media (max-width: 1023px) {
    .amenities__container {
      margin: 21px auto 0; } }
  @media (max-width: 574px) {
    .amenities__container {
      max-width: 250px; } }

.amenities__item {
  width: 50%;
  margin-bottom: 13px; }

.amenities__link {
  color: #3d4e61;
  font-weight: 600; }
  .amenities__link:hover {
    color: #687c94; }

.reviews__header {
  font-size: 28px; }

.reviews__container {
  position: relative;
  margin-top: 34px; }

.card__user-img {
  position: absolute; }

.card__user-name, .card__date {
  margin-left: 71px; }

.card__user-name {
  margin-bottom: 8px;
  font-size: 20px; }

.card__date {
  font-size: 14px; }

.card__text {
  width: 430px;
  margin-top: 23px; }
  .card__text--long-width {
    width: 493px; }
  @media (max-width: 574px) {
    .card__text {
      width: 100%; } }

.owner__header {
  font-size: 28px; }

.owner__location {
  margin: 11px 0 6px;
  font-size: 14px; }

.owner__info {
  width: 430px;
  margin: 6px 0 13px; }
  @media (max-width: 574px) {
    .owner__info {
      width: 100%; } }

.owner__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
  height: 50px;
  color: #00acdc;
  border: 1px solid #00acdc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  -webkit-transition: 0.5s;
  transition: 0.5s; }
  .owner__link:hover {
    color: #fff;
    background-color: #00acdc; }

/*# sourceMappingURL=content.css.map */
