body,
h2,
h3,
h4,
h5,
p {
  margin: 0; }

ul,
button,
input {
  margin: 0;
  padding: 0; }

button,
input {
  outline: none; }

a {
  color: #3d4e61; }

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 2000px;
  height: 60px;
  margin: 0 auto;
  padding: 0 19px 0 26px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.header__link {
  width: 30px;
  height: 30px; }
  @media (max-width: 574px) {
    .header__link {
      z-index: 3; } }

@media (max-width: 574px) {
  .nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 100vh;
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
    -webkit-transition: 0.3s;
    transition: 0.3s;
    z-index: 2; } }

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 574px) {
    .nav__list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      margin-top: 150px; } }

.nav__item:not(:last-child) {
  padding-right: 39px; }
  @media (max-width: 574px) {
    .nav__item:not(:last-child) {
      width: 100%;
      padding-right: 0; } }

.nav__item:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 574px) {
    .nav__item:last-child {
      display: none; } }

.nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 60px;
  -webkit-transition: color 0.5s;
  transition: color 0.5s; }
  .nav__link:hover {
    color: #00acdc; }
  @media (max-width: 574px) {
    .nav__link {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      font-size: 20px; } }

@media (max-width: 574px) {
  .active {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 100vh;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    z-index: 2;
    background-color: white;
    opacity: 0.9; } }

.burger {
  position: relative;
  display: none;
  width: 40px;
  height: 30px;
  cursor: pointer;
  z-index: 3; }
  @media (max-width: 574px) {
    .burger {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; } }
  .burger__span, .burger__span::before, .burger__span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #db5d5d;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s; }
  .burger__span {
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
  .burger__span::before {
    content: "";
    top: -12px; }
  .burger__span::after {
    content: "";
    top: 12px; }

.open span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg); }

.open span::before {
  top: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0); }

.open span::after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg); }

.intro {
  height: 464px;
  max-width: 2000px;
  margin: 0 auto;
  background-image: url(../images/intro1440.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  @media (min-width: 2000px) {
    .intro {
      background-image: url(../images/intro2000.png); } }

.main__container {
  max-width: 900px;
  padding: 39px 30px 75px;
  margin: 0 auto; }

.apartment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .apartment__container {
    width: 100%; }
  .apartment__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media (max-width: 1023px) {
      .apartment__info {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        text-align: center; } }
  @media (max-width: 1023px) {
    .apartment__order {
      margin-top: 30px; } }
  .apartment__details {
    max-width: 491px; }
  .apartment__amenities {
    margin: 40px 0 66px; }
    @media (max-width: 1023px) {
      .apartment__amenities {
        text-align: center; } }
  .apartment__reviews {
    margin-bottom: 66px; }
    @media (max-width: 1023px) {
      .apartment__reviews {
        max-width: 493px;
        margin: 0 auto 66px; } }
  @media (max-width: 1023px) {
    .apartment__owner {
      max-width: 493px;
      margin: 0 auto; } }

.details__header {
  font-size: 36px;
  line-height: 42px; }
  @media (max-width: 574px) {
    .details__header {
      font-size: 30px;
      line-height: 36px; } }

.details__entire {
  margin: 10px 0 15px;
  color: #687c94; }

.details__conditions span {
  margin-right: 18px; }

.details__info {
  margin: 28px 0;
  line-height: 24px; }

.details__link {
  color: #3d4e61;
  font-weight: 600;
  -webkit-transition: color 0.5s;
  transition: color 0.5s; }
  .details__link:hover {
    color: #00acdc; }

.amenities__header {
  font-size: 20px; }

.amenities__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 390px;
  margin-top: 21px; }
  @media (max-width: 1023px) {
    .amenities__container {
      margin: 21px auto 0; } }
  @media (max-width: 574px) {
    .amenities__container {
      max-width: 250px; } }

.amenities__item {
  width: 50%;
  margin-bottom: 13px; }

.amenities__link {
  color: #3d4e61;
  font-weight: 600; }
  .amenities__link:hover {
    color: #687c94; }

.reviews__header {
  font-size: 28px; }

.reviews__container {
  position: relative;
  margin-top: 34px; }

.card__user-img {
  position: absolute; }

.card__user-name, .card__date {
  margin-left: 71px; }

.card__user-name {
  margin-bottom: 8px;
  font-size: 20px; }

.card__date {
  font-size: 14px; }

.card__text {
  width: 430px;
  margin-top: 23px; }
  .card__text--long-width {
    width: 493px; }
  @media (max-width: 574px) {
    .card__text {
      width: 100%; } }

.owner__header {
  font-size: 28px; }

.owner__location {
  margin: 11px 0 6px;
  font-size: 14px; }

.owner__info {
  width: 430px;
  margin: 6px 0 13px; }
  @media (max-width: 574px) {
    .owner__info {
      width: 100%; } }

.owner__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
  height: 50px;
  color: #00acdc;
  border: 1px solid #00acdc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  -webkit-transition: 0.5s;
  transition: 0.5s; }
  .owner__link:hover {
    color: #fff;
    background-color: #00acdc; }

.order {
  width: 330px;
  height: 319px;
  padding: 29px 29px 37px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #e1e7ed;
  border-radius: 3px; }
  @media (max-width: 574px) {
    .order {
      width: 100%;
      height: auto;
      padding: 10px; } }
  .order__date, .order__guests, .order__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%; }
  .order__date, .order__guests {
    padding-left: 17px;
    border: 1px solid #e1e7ed;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 3px; }
  .order__date {
    margin-top: 39px;
    padding: 14px 0 14px 17px; }
  .order__guests {
    height: 50px;
    margin: 16px 0 24px; }
  .order input:focus,
  .order input:hover {
    border: 1px solid #fd5c63; }
  .order__button {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 50px;
    color: #fff;
    background-color: #fd5c63;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s; }
    .order__button:hover {
      background-color: rgba(253, 92, 99, 0.7); }
    .order__button:focus {
      border: 1px solid #e1e7ed; }

.footer {
  height: 213px;
  -webkit-box-shadow: 0 -1px 0 #e1e7ed;
          box-shadow: 0 -1px 0 #e1e7ed; }
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 900px;
    height: 100%;
    padding: 0 30px;
    margin: 0 auto; }
    @media (max-width: 574px) {
      .footer__container {
        height: auto; } }
  .footer__column {
    width: 33.3%; }
    @media (max-width: 1023px) {
      .footer__column {
        text-align: center; } }
    @media (max-width: 574px) {
      .footer__column {
        width: 50%;
        margin-top: 40px;
        text-align: left; } }
  .footer__heding {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 19px; }
  .footer__item:not(:last-child) {
    margin-bottom: 9px; }
  .footer__link {
    display: inline-block;
    -webkit-transition: color 0.5s;
    transition: color 0.5s; }
    .footer__link:hover {
      color: #00acdc; }

@font-face {
  font-family: Avenir;
  src: url(../fonts/Avenir-Book.ttf);
  font-weight: 300; }

@font-face {
  font-family: Avenir;
  src: url(../fonts/Avenir-Heavy.ttf);
  font-weight: 900; }

html {
  font-family: Avenir, sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #3d4e61; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

.airBnb {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px; }

/*# sourceMappingURL=main.css.map */
